$colors: (
  dark-blue: hsl(240, 38%, 20%),
  grayish-blue: hsl(240, 18%, 77%),
);

@function color($color) {
  @return map-get($colors, $color);
}

@mixin flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

@mixin idealFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$fact: (10/32);

html {
  font-size: 10px;
}

body {
  overflow: hidden;
}

body > img {
  position: absolute;
  z-index: -1;
}

.pattern-quotes {
  top: 21.4rem;
  left: 26rem;
}

.pattern-bg {
  top: 5rem;
  right: 7.3rem;
}

.pattern-curve {
  bottom: 0;
  left: 0;
}

p {
  font-size: 3.2rem;
}
main {
  width: 400vw;
  display: flex;
}

.slider {
  overflow: hidden;
  width: 11.2rem;
  height: 5.6rem;
  position: absolute;
  top: 62.5rem;
  right: 53.1rem;
  background-color: white;
  z-index: 10;
  border-radius: 3rem;
  display: flex;
  .btn {
    height: 100%;
    width: 5.6rem;
    @include idealFlex;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      background-color: #e9e6f9;
    }
  }
}

.div-1,
.div-2 {
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  position: relative;
}

img.image {
  position: absolute;
  top: 11.3rem;
  right: 16.5rem;
  box-shadow: 1rem 2rem 6rem rgba(0, 0, 0, 0.3);
}

.text {
  color: color(dark-blue);
  width: 44.5%;
  position: absolute;
  top: 28.5rem;
  left: 16.5rem;
  z-index: 100;
  p.para {
    margin-bottom: 4rem;
    width: 100%;
    font-weight: 300;
  }
}

.nameDesig {
  font-size: 2rem;
  font-weight: 700;
  span {
    font-weight: 500;
    color: color(grayish-blue);
  }
}

@media (max-width: 1235px) {
  .pattern-bg {
    top: 2.4rem;
    width: 32.7rem;
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    font-size: 3.2rem * 0.6;
  }

  .pattern-quotes {
    width: 6rem;
    top: 36.4rem;
    left: 50%;
    transform: translateX(-50%);
  }

  img.image {
    top: 5.4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 25.4rem;
  }

  .text {
    padding: 0 5%;
    width: 100%;
    position: absolute;
    top: 39rem;
    left: 0;
    text-align: center;
    z-index: 100;
    p.para {
      margin-bottom: 3rem;
      width: 100%;
    }
  }

  .nameDesig {
    font-size: 2rem *.7;
    font-weight: 700;
    span {
      font-weight: 500;
      color: color(grayish-blue);
    }
  }

  .slider {
    top: 30.7rem;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }
}
