* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
}

body > img {
  position: absolute;
  z-index: -1;
}

.pattern-quotes {
  top: 21.4rem;
  left: 26rem;
}

.pattern-bg {
  top: 5rem;
  right: 7.3rem;
}

.pattern-curve {
  bottom: 0;
  left: 0;
}

p {
  font-size: 3.2rem;
}

main {
  width: 400vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  overflow: hidden;
  width: 11.2rem;
  height: 5.6rem;
  position: absolute;
  top: 62.5rem;
  right: 53.1rem;
  background-color: white;
  z-index: 10;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .btn {
  height: 100%;
  width: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slider .btn:hover {
  background-color: #e9e6f9;
}

.div-1,
.div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

img.image {
  position: absolute;
  top: 11.3rem;
  right: 16.5rem;
  -webkit-box-shadow: 1rem 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 2rem 6rem rgba(0, 0, 0, 0.3);
}

.text {
  color: #202046;
  width: 44.5%;
  position: absolute;
  top: 28.5rem;
  left: 16.5rem;
  z-index: 100;
}

.text p.para {
  margin-bottom: 4rem;
  width: 100%;
}

.nameDesig {
  font-size: 2rem;
  font-weight: 700;
}

.nameDesig span {
  font-weight: 500;
  color: #babacf;
}

@media (max-width: 1235px) {
  .pattern-bg {
    top: 2.4rem;
    width: 32.7rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  p {
    font-size: 1.92rem;
  }
  .pattern-quotes {
    width: 6rem;
    top: 36.4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  img.image {
    top: 5.4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 25.4rem;
  }
  .text {
    padding: 0 5%;
    width: 100%;
    position: absolute;
    top: 39rem;
    left: 0;
    text-align: center;
    z-index: 100;
  }
  .text p.para {
    margin-bottom: 3rem;
    width: 100%;
  }
  .nameDesig {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .nameDesig span {
    font-weight: 500;
    color: #babacf;
  }
  .slider {
    top: 30.7rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
}
/*# sourceMappingURL=styles.css.map */